.gradle
/doc/javadoc
/local.properties
/.idea/workspace.xml
/.idea/libraries
/doc/javadoc
.idea
.DS_Store
/build
/libs
/libraries
*.iml
*.apk
*.ap_
*.swp
/fastlane
/release/fastlane/README.md
/release/fastlane/report.xml

